<h2>Регистрация!</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>
  
  <div><%= f.label "Имя" %>
  <%= f.text_field :name %></div>
  
  <div><%= f.label "Пароль" %>
  <%= f.password_field :password %></div>

  <div><%= f.label "Пароль еще раз" %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Зарегистрироваться", :class => "button small" %></div>
<% end %>

<%= render "devise/shared/links" %>
