	  <%= content_tag( :span, comment.user.name, :class => "comment_user_name") %>
	  <span class="time_ago"> &#8226; <%= time_ago_in_words(comment.created_at) %></span>
	  <div id="comment_content-<%= comment.id %>">
			<%= comment.content %>
			<div id="comment_edit_buttons">
				<%= link_to 'Ответить', new_polymorphic_path([helpful, Comment.new], :parent_id => comment), remote: true %>
				<%= edit_delete_links(comment, comment.user, helpful) %>
			</div>
		</div>
  <%= nested_comments comment.children, helpful %>