<h1><%= model.name %><span style="font-size: 12px; font-weight: 100; color: #adadad;"> помогло!</span></h1> 
<div id="flash"></div>
<div id="form-update">
  <%= form_for([model, helpful], :remote => true, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
    <% if helpful.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@helpful.errors.count, "error") %> prohibited this helpful from being saved:</h2>
  
        <ul>
        <% @helpful.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.text_area :review, :class => "input" %>
    </div>
    <div class="actions">
      <%= f.submit 'Обновить', :id => 'submit-button', :class => 'button small' %>
    </div>
  <% end %>
</div>