<div class="helpful_content">
<span class="user-title"><%= link_to helpful.user.name, helpful.user %></span>
<% if helpful.review.length > 80 %>
  <%= truncate(helpful.review, length: 80) %> </br>
  <%= link_to_function 'развернуть', "$(this).parent().html('#{escape_javascript helpful.review}')" %>
<% else %>
  <%= helpful.review %>
<% end %>
</div>
<div id="links">
<% if user_signed_in? %> 
	<%= link_to "Добавить коментарий", new_polymorphic_path([helpful, Comment.new]), id: "new_comment_link-"+helpful.id.to_s, :data => {remote: true} %>
<% else %>
  <%= link_to "Добавить коментарий", '#', :data => {:reveal_id => "sign-in"} %>
<% end %> 
</div>
<div id="comments">
	<%= render :partial => "comments/index", :locals => {:helpful => helpful} %>
</div>
	