<% @medications.each do |medication| %>
	<div class="list_item">
<!--
	  <div id="helpfuls-<%= medication.id.to_s %>" class="reveal-modal medium">
	    <%= modal_form(medication, :helpful) %>
	    <a class="close-reveal-modal">&#215;</a>
	  </div>
-->
	  
	  <div class="row">
	  <div class="small-12 columns"">
	    <%= link_to medication.name, medication, :class => 'header' %>
			<div id="help" >	
	  	 	<%= render :partial => 'medications/buttons', :locals => {:medication => medication} %>
			</div>
			</div>


	  </div>    
	
	  
	  <div class="row">
	    <div class="small-3 columns"">
	      <%= medication.description %>
	    </div>  
	    <div id="left-column" class="small-2 columns""> 
	    
	    </div> 
	  </div>
	</div>
<% end %>
<br>

