<% breadcrumb :medication, @medication %>

<p id="notice"><%= notice %></p>
<div id="helpfuls-<%= @medication.id.to_s %>" class="reveal-modal medium">
  <%= modal_form(@medication, :helpful) %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<p><strong><%= @medication.name %></strong></p>
<% @medication.forma_vypuskas.each do |forma_vypuska| %>
	<p><%= forma_vypuska.name %></p>
<% end %>
<div class="row">
  <div id="show-tabs" class="small-8 columns"> 
    <div class="section-container tabs" data-section="tabs">
      <section class="active">
        <p class="title" data-section-title><a href="#panel1">Описание</a></p>
        <div class="content" data-section-content>
          <%= @medication.description %>
        </div> 
      </section>
      <section>
        <p class="title" data-section-title><a href="#panel2">Способ приминения</a></p>
        <div class="content" data-section-content>
          <%= @medication.dosage %>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#panel3">Побочные действия</a></p>
        <div class="content" data-section-content>
          <%= @medication.sideeffects %>
        </div>
      </section>
	</div>
  </div>

  <div id="help" class="small-3 columns" >	
  	<%= render :partial => 'medications/buttons', :locals => {:medication => @medication} %>
  </div>
  
</div>  	  
	<div class="row">
	  	<div id="helpful" class="small-6 columns">
			<h5>Помогло</h5>
			<div >
			  <% @medication.helpfuls.each do |helpful| %>
		  		
					<div class="">
						<%= render :partial => "helpfuls/list", :locals => {:helpful => helpful} %>
          </div>
        <% end %>
    </div>
  
</div>  


