<% breadcrumb :medication, @medication %>

<p id="notice"><%= notice %></p>
<div id="helpfuls-<%= @medication.id.to_s %>" class="reveal-modal medium">
  <%= modal_form(@medication, :helpful) %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<p><strong><%= @medication.name %></strong></p>
<% @medication.forma_vypuskas.each do |forma_vypuska| %>
	<p><%= forma_vypuska.name %></p>
<% end %>
<div class="row">
  <div id="show-tabs" class="col-md-8">
  	<ul id="medication-tabs" class="nav nav-tabs">
  	  <li class="active">
  	    <a href="#panel1" data-toggle="tab">Описание</a>
  	  </li>
  	  <li>
  	    <a href="#panel2" data-toggle="tab">Способ приминения</a>
  	  </li>
  	  <li>
  	    <a href="#panel3" data-toggle="tab">Побочные действия</a>
  	  </li>
  	  <li>
  	</ul>
    <div class="tab-content">
      <div id="panel1" class="tab-pane active">
        <%= @medication.description %>
      </div>         
      <div id="panel2" class="tab-pane">
        <%= @medication.dosage %>
      </div>        
      <div id="panel3" class="tab-pane">
        <%= @medication.sideeffects %>
      </div>

	</div>
  </div>

  <div id="help" class="small-3 columns" >	
  	<%= render :partial => 'medications/buttons', :locals => {:medication => @medication} %>
  </div>
  
</div>  	  
	<div class="row">
	  	<div id="helpful" class="small-6 columns">
			<h5>Помогло</h5>
			<div >
			  <% @medication.helpfuls.each do |helpful| %>
		  		
					<div class="">
						<%= render :partial => "helpfuls/list", :locals => {:helpful => helpful} %>
          </div>
        <% end %>
    </div>
  
</div>  


