<!DOCTYPE html>
<html>
<head>
  <title>Inzdrav</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<% unless user_signed_in? %>
	    <%= render 'users/show_modal_login' %>
	  <% end %>s	
	</div>
  
<!--
  <div class="modal fade" id="sign-in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <%= render :partial => 'users/login'%>
      </div>
    </div>
  </div>
-->
  
  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
		  <nav class="navbar" role="navigation">
		    <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <%= link_to image_tag("logo.png"), medications_path, :class => "navbar-brand" %></a>
		  </div>
		
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><%= link_to 'Препараты', medications_path %></li>
		      </ul> 
		      <form class="navbar-form navbar-left" role="search">
		        <%= form_tag search_path, :method => :get do %> 
		        <div class="form-group">
		          <%= text_field_tag :search, params[:search], :class => "form-control" %>  
		        </div>
		        <%= submit_tag "Поиск", :name => nil, :class => "btn btn-default"%>
		        <% end %> 
		      </form>
		      <ul class="nav navbar-nav navbar-right">
		
		        <% if user_signed_in? %>
		          <li><%= link_to raw("<span class='glyphicon glyphicon-user'></span>"), user_path(current_user.id), :class => "navbar-tooltip", :data => {:toggle => "tooltip", :original_title => current_user.name, :placement => "bottom"} %>
		
		          </li>
		          <li class="divider hide-for-small"></li>
		          <li><%= link_to raw("<span class='glyphicon glyphicon-log-out'></span>"), destroy_user_session_path, :data => {:toggle => "tooltip", :original_title => "Выход", :placement => "bottom"}, :method => :delete, :class => "navbar-tooltip" %></li>
		          <li class="divider hide-for-small"></li>
		        <% else %>
		          <li><%= link_to raw("<span class='glyphicon glyphicon-log-in'></span>"), show_modal_login_path, :data => {:toggle => "tooltip", :original_title => "Войти", :placement => "bottom", :remote => true, :toggle =>  "modal", :target => '#modal-window'}, :class => "navbar-tooltip" %></li>
		          <li class="divider hide-for-small"></li>
		          <li><%= link_to raw("<span class='glyphicon glyphicon-plus-sign'></span>"), new_user_registration_path, :data => {:toggle => "tooltip", :original_title => "Регистрация", :placement => "bottom"}, :class => "navbar-tooltip" %></li>  
		        <% end %>
		      </ul>
		    </div>
		    
		  </nav>
		</div> 
  </header>
  <%= flash[:msg] %>

<div class="row">
  <div class="small-12 columns">
	  <%= breadcrumbs semantic: true, style: :ul %> 
  </div>
</div>
 